@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans');

body {
	color: #B21203;
	background-color: #FEFDFF;
	/*background-image: url("popcorn.jpg");*/
	text-align: center;
	font-family: 'Open Sans', sans-serif;
    font-family: 'Droid Sans', sans-serif;

}

h1, p {

}

ul{
	font-weight: bold;
	list-style-type: none;

}

li{
	color: #FF8322;

}

img{

}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	color: pink;
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}


section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}




