@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans');

body {
	color: #B21203;
	background-color: #FEFDFF;
	/*background-image: url("popcorn.jpg");*/
	text-align: center;
	font-family: 'Open Sans', sans-serif;
    font-family: 'Droid Sans', sans-serif;

}

h1, p {

}

ul{
	font-weight: bold;
	list-style-type: none;

}

li{
	color: #FF8322;

}

img{

}

#slogan {
	font-style: italic;
	font-family: Helvitica, sans-serif;
}